*{
    margin: 0;
    padding: 0;
    font-family: arial, tahoma,sans-serif;
    overflow: hidden;
    min-width: 10%;
}

body, html{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-y: scroll;
    background-color: #f8f8f8;
}


header{
    display: flexbox;
    box-shadow: 0 0 7px black;
    position: fixed;
    top:0;
    width:100%;
    height: 3.6em;
    z-index: 1000;
}
nav {
    background: linear-gradient(to left top, #1c8562, #2a803b);
    text-transform: uppercase;
    font-weight: 600;
    font-size: larger;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 3em;
}

nav a, nav img{
    text-decoration: none;
    color: #fff;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 2px;
}

nav a:hover,.img_svg:hover {
    background: #f0f0f0;
    color: #333;
}


nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background: #fff0.2;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    animation: 2;
}
li img{
    box-sizing: content-box;
    height: 100%;
    margin: auto;
    padding: auto;
}

.sidebar li{
    width:100%;
}

.sidebar a{
    width:100%;
    color: #333;
}



/* articulos */

article {
    margin: 50px 10px;
}

article li{
    margin: 10px 0 10px 40px;
}

article h2, h1 {
    color: #2a803b;
    text-align: center;
    text-transform: uppercase;
    margin: 40px;
    font-size: 2em;
}

article p {
    text-align: center;
    color: #1a1a1a;
    font-size: 1.5em;

}

.container {
    padding: 20px 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}
article h2{
    box-sizing: content-box;
    color: #2a4f2a;
}
.wa{
    color: #2f3f2f;
    word-spacing: 0.2em;
    width: 75%;
    margin: auto;
    text-align: justify;
}

article ul{
    margin: 20px 0 0 0;
}
.sli2{
    color: #2f3f2f;
    margin: 1em 0 1em 2em;
    font-size: 1em;
} 
.art_head_li{
    color: #2f4f2f;;
    text-align: left;
    font-size: 1.6em;
}
.background-img{
    background-image: url("../src/imagenes/wall-index.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.im{
    background-image: url("../src/gato_punk.avif");
    background-size: 100% 100%;
	background-attachment: scroll;
    width: 100%;
    height: 100%;
    background-position: center;
    justify-content: center;
    background-size: contain;
    transform: scale(1.2);
    
}

.cont_img{
    margin: 2em auto;
    width: 150px;
    height: 150px;
    border-radius: 50vh;
    box-shadow: 0 0 15px #1a1a1a;
}

.articulo-proyectos{
    box-sizing: content-box;
    width: 100%;
}
/* Estilo a la tabla */
article table{  /* la tabla en general */
    margin: auto;
    width: 95%;
    border: 2px solid black;
}
article table thead{ /* primera fila */
    color: #f0fff3;
    height: 3em;
    font-size: 1.7em;
    background-color: #2a803b;
    text-align: center;
}
tbody tr{       /* toda la tabla menos  */
    font-size: 1.2em;
    height: 2em;
    background: #2a4f2a;
    color: #f0fff3;
}
tbody tr td:first-child, tbody tr td:last-child{    /* primeros y terceros hijos de td */
    text-align: center;
}
tbody tr td:nth-child(2){/* separacion de la seguna fila */
    padding-left:3px;
}

/* Colores según la importancia */
.alta {
    background-color: rgb(248, 82, 82);
    color: white;
}

.media {
    background-color: rgb(245, 245, 58);
    color: black;
}

.baja {
    background-color: rgb(51, 176, 51);
    color: white;
}

.articulo-proyectos h3{
    text-align: left;
    font-size: 1.8em;
    margin: 0.2em 1em;
    color: #2a803b;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}.decoracion-titulo{
    margin-left: 1em; font-size: 1.2em;color: #2a4f2a;text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.articulo-proyectos p{
    text-align: left;
    text-align: justify;
    font-size: 1.4em;
    margin: 1em;
    color: #2a803b;
    width: 75vw;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.linea-sub-articulo{    /* linea decorativa */
    box-sizing: content-box;
    margin: 2em 1em;
    border: none; /* Elimina el borde predeterminado */
    height: 2px; /* Altura de la línea */
    background-color: rgba(0, 0, 0, 0.5); /* Color de la línea */
    width: 70%;
}
#lista-habitos{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 1em;
    color: #1c8562;
    font-weight: 700;
}
.font-italica{
    font-style: italic;
}
/* Style de los comentario */
.container-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-input input{
    text-transform: capitalize;
    padding: 4px;
    font-size: 1em;
    width: 20%;
    height: 2em;
    border-radius: 5px;
    border-style: none;
    border: 2px #2f3f2f solid;
}
.container-input textarea{
    text-transform: capitalize;
    padding: 4px;
    font-size: 1em;
    width: 40%;
    height: 4em;
    border-radius: 5px;
    border-style: none;
    border: 2px #2f3f2f solid;
    scroll-behavior: auto;
    max-width: 500px;
    max-height: 4.5em;
    overflow-y: auto;
}
.container-input button{
    margin: 5px ;
    width: 5em;
    height: 3em;
    border-radius: 7px;

    border-style: none;
    border: 2px #2f3f2f solid;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #052118;
    background-color: #38d157;
}


/*media query*/

@media screen and (max-width:800px) {
    .hideOnMobile{
        display: none;
        
    }

    article .div-table{
        overflow: auto;   
    }
    article h3{text-align: center;}
    article .decoracion-titulo{
    margin: auto;
    padding: auto;
    font-size: medium;
    }
    .container-titulo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-input input{width: 50%;}
    .container-input textarea {width: 80%;}
    .container-input button{width: 50%;}

}

@media(max-width: 400px) {
    .sidebar{
        width: 100%;
    }
}
