*{
    margin: 0;
    padding: 0;
    font-family: arial, tahoma,sans-serif;
    overflow: hidden;
    min-width: 10%;
}

body, html{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-y: scroll;
}


header{
    display: flexbox;
    box-shadow: 0 0 7px black;
    position: fixed;
    top:0;
    width:100%;
    height: 3.6em;
    z-index: 1000;
}
nav {
    background: linear-gradient(to left top, #1c8562, #2a803b);
    text-transform: uppercase;
    font-weight: 600;
    font-size: larger;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 3em;
}

nav a, nav img{
    text-decoration: none;
    color: #fff;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 2px;
}

nav a:hover,.img_svg:hover {
    background: #f0f0f0;
    color: #333;
}


nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background: #fff0.2;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    animation: 2;
}
li img{
    box-sizing: content-box;
    height: 100%;
    margin: auto;
    padding: auto;
}

.sidebar li{
    width:100%;
}

.sidebar a{
    width:100%;
    color: #333;
}

/*media query*/

@media(max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
}

@media(max-width: 400px) {
    .sidebar{
        width: 100%;
    }
}

/* articules */

article{
		margin: 0 1em;
		margin-top: 5em;
		color:white;
		
		background: #0007;
		border-radius: 3px;
		box-shadow: 0px 0px 2px 1px #000;
}
h2{
		text-align: center;
		padding: 5px;
		text-decoration: underline;
        font-size: 3em;
		
}
p{text-align: justify;font-weight: 500;
		padding: 20px;
        font-size: 1.7em;
        text-align: center;

}

.bg{    display: block;
		background-image: url("../src/bgRef.jpg");
		background-size: 100% 100%;
		background-attachment: fixed;
		z-index: -1000;
}

.fecha_publicacion{
    margin: 1.5em;
}
.fecha_publicacion p{
text-align: right;
font-style: italic;
font-weight: 100;
font-size: 1.2em;

}
.fecha_publicacion p:first-child{
    margin: 1px;
    padding: 0 20px;
    font-size: 1.3em;
}