/* Paleta de Colores */
:root {
    --naranja-principal: #FFA500; /* Naranja brillante */
    --naranja-suave: #FFDAB9; /* Naranja claro */
    --naranja-oscuro: #FF8C00; /* Naranja oscuro */
    --fondo-neutral: #F5F5F5; /* Gris muy claro para el fondo */
    --texto-neutral: #333333; /* Gris oscuro para el texto */
}

/* Estilos generales del cuerpo de la página */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--fondo-neutral);
    color: var(--texto-neutral);
}

/* Estilos del encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px; /* Agranda el padding para un header más visible */
    background-color: var(--naranja-oscuro);
    color: #fff;
}

/* Estilo del logo */
.logo img {
    height: 85px; /* Aumento de la altura del logo */
    padding-right: 4em;
}

/* Menú de navegación */
.nav-menu {
    flex: 1;
    display: flex;
    justify-content: center; /* Centra el menú de navegación */
    height: 4em;
}

/* Lista del menú */
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
}

/* Elementos del menú */
.menu-item {
    flex: 1; /* Cada item toma el mismo espacio */
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    position: relative;
}

/* Enlaces del menú principal */
.menu-item > a {
    display: flex;
    align-items: center; /* Centra el texto verticalmente */
    justify-content: center; /* Centra el texto horizontalmente */
    padding: 20px 30px; /* Aumento del padding para mejor visibilidad */
    color: #fff;
    text-decoration: none;
    background-color: var(--naranja-principal);
    font-size: 1.2em; /* Aumento del tamaño de fuente para mejor visibilidad */
    width: 100%; /* Asegura que el enlace tome el 100% del ancho del contenedor */
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
    height: 100%; /* Asegura que el enlace tome el 100% de la altura del contenedor */
}

/* Efecto hover en los enlaces del menú principal */
.menu-item > a:hover {
    background-color: var(--naranja-suave);
}

/* Submenú desplegable */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--naranja-oscuro);
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 200px; /* Aumento del ancho mínimo del submenú */
    z-index: 1000;
}

/* Elementos del submenú */
.submenu li {
    border-bottom: 1px solid #444;
}

/* Último elemento del submenú sin borde inferior */
.submenu li:last-child {
    border-bottom: none;
}

/* Enlaces del submenú */
.submenu a {
    display: block;
    padding: 15px; /* Aumento del padding en el submenú */
    color: #fff;
    text-decoration: none;
    text-align: left;
}

/* Efecto hover en los enlaces del submenú */
.submenu a:hover {
    background-color: var(--naranja-suave);
}

/* Mostrar submenú al pasar el ratón sobre el elemento del menú principal */
.menu-item:hover .submenu {
    display: block;
}

/* Galería de imágenes */
.image-gallery {
    display: flex;
    justify-content: center;
    gap: 25px; /* Aumento del espacio entre imágenes */
    padding: 20px;
}

/* Estilo de las imágenes de la galería */
.image-gallery img {
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(25% - 25px); /* Ajuste para el espacio entre imágenes */
    max-width: 240px; /* Aumento del ancho máximo */
}

/* Estilo del contenedor principal */
main {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    text-align: center;
    box-sizing: border-box;
}

/* Sección de bienvenida */
.welcome-section {
    margin: 0 auto;
    max-width: 800px;
}

/* Título de la sección de bienvenida */
.welcome-section h1 {
    color: var(--naranja-principal);
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Imagen de la sección de bienvenida */
.welcome-section img {
    width: 50%;
    max-width: 800px; /* Ajuste del tamaño de la imagen */
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Párrafo de la sección de bienvenida */
.welcome-section p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Sección de servicios */
.services-section {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    text-align: center;
}

.services-section .service {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: var(--fondo-neutral);
}

.services-section h3 {
    color: var(--naranja-principal);
    font-size: 1.5em;
}

.services-section p {
    font-size: 1.1em;
    line-height: 1.6;
}






/* Sección de blog */
.blog-section {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    text-align: center;
}

.blog-section .blog-post {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: var(--fondo-neutral);
}

.blog-section h3 {
    color: var(--naranja-principal);
    font-size: 1.5em;
}

.blog-section p {
    font-size: 1.1em;
    line-height: 1.6;
}

.blog-section a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: var(--naranja-principal);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.blog-section a:hover {
    background-color: var(--naranja-oscuro);
}




/* Sección sobre mí */
.about-section {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    text-align: left;
    background-color: var(--fondo-neutral);
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Título de la sección sobre mí */
.about-section h2 {
    color: var(--naranja-oscuro);
    font-size: 2em;
    margin-bottom: 15px;
}

/* Párrafo de la sección sobre mí */
.about-section p {
    font-size: 1.1em;
    line-height: 1.8;
}

/* Botón de contacto en la sección sobre mí */
.contact-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    color: #fff;
    background-color: var(--naranja-principal);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Efecto hover en el botón de contacto */
.contact-button:hover {
    background-color: var(--naranja-oscuro);
}













/* Sección del formulario de contacto */
.contact-form-section {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    text-align: center;
}

.contact-form-section form {
    display: flex;
    flex-direction: column;
}

.contact-form-section label {
    margin-bottom: 5px;
}

.contact-form-section input,
.contact-form-section textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form-section button {
    padding: 10px 20px;
    color: #fff;
    background-color: var(--naranja-principal);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.contact-form-section button:hover {
    background-color: var(--naranja-oscuro);
}
